# 除外対象（画像や一時ファイルだけにとどめる）
*.log
*.pkl
*.dat
*.ini
*.DS_Store
*.mp4
.gradle/
.android/
.cache/
.vscode/
/.azure
/.bash_history
/.dotnet
/.emulator_console_auth_token
/.gitconfig
/.gitignore
/.gtk-bookmarks
/.lesshst
/.limpc
/.matplotlib
/.nuget
/.thumbnails
/AndroidStudioProjects
/AppData
/Desktop
/Documents
/Downloads
/Favorites
/Links
/ntuser.dat.LOG1
/ntuser.dat.LOG2
/NTUSER.DAT{2ad838bc-efea-11ee-a54d-000d3a94eaa1}.TM.blf
/NTUSER.DAT{2ad838bc-efea-11ee-a54d-000d3a94eaa1}.TMContainer00000000000000000001.regtrans-ms
/NTUSER.DAT{2ad838bc-efea-11ee-a54d-000d3a94eaa1}.TMContainer00000000000000000002.regtrans-ms
/OneDrive
/Pictures
/pip
/Saved Games
/Searches
/source
